body{
  margin-top: 3.5rem;
}
#box {
  width: 62.1rem;
  background: #fff;
  
  overflow: hidden;
}
.header {
  width: 100%;
  padding-top: 1.2rem;
  height: 6.1rem;
  position: fixed;
  z-index: 999;
  background: #fff;
}
.sousuo {
  float: left;
  width: 45.8rem;
  height: 4.45rem;
  padding-top: 1.2rem;
  padding-left: 6.4rem;
  margin-left: 7.85rem;
  border-radius: 2rem;
  text-align: center;
  background: #ebebeb;
}
.sousuo-icon {
  float: left;
  width: 1.8rem;
  height: 1.8rem;
  background: url('../jingling3.png') -6.6rem top;
}
.sousuo-text {
  float: left;
  width: 34.4rem;
  height: 1.9rem;
  font-size: 1.85rem;
  margin-left: 2.25rem;
  background: #ebebeb;
}
.bofang-icon {
  float: right;
  width: 2.7rem;
  height: 3.1rem;
  margin-top: 0.25rem;
  margin-right: 1.95rem;
  background: url('../jingling3.png') -3.8rem top;
}
.banner-imgs{
  padding-top:6.1rem;
}
.banner-imgs img {
  width: 62.1rem;
  height: 31.2rem;
}
.list-init {
  margin-top: 3.6rem;
  margin-bottom: 2.4rem;
}
.list-init li {
  position: relative;
  float: left;
  width: 16.95rem;
  height: 16.95rem;
  border-radius: 1rem;
  background: url("15076173132275.jpg");
  background-size: 16.95rem 16.95rem;
  margin: 1.8rem;
}
.list-init .bg {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  border-radius: 1rem;
  background: #000;
  opacity: .5;
}
.list-li-name {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -3.4rem;
  margin-top: -2.1rem;
  color: #fff;
  font-size: 2rem;
  font-family: '微软雅黑';
  text-align: center;
}
.list-li-name-ying {
  color: #e5e4e4;
  font-size: 1.7rem;
  margin-top: 0.8rem;
}
.item {
  padding-left: 1.85rem;
  padding-right: 1.8rem;
  overflow: hidden;
}
.item-title {
  height: 10rem;
}
.item-title-text {
  float: left;
  padding-top: 3.25rem;
  font-weight: bold;
  font-size: 3rem;
}
.item-title-icon {
  float: right;
  width: 1.3rem;
  height: 2rem;
  margin-top: 2.5rem;
  background: url('../jingling3.png') -3.8rem -3.45rem;
}
.gedan {
  width: 75rem;
}
.gedan-item {
  width: 25.15rem;
}
.gedan-item img {
  width: 25.15rem;
  height: 25.15rem;
  border-radius: 0.75rem;
}
.gedan-item-title {
  font-size: 2.3rem;
  margin-top: 1.5rem;
  min-height: 6.1rem;
  margin-bottom: 1.85rem;
}
.gedan li {
  float: left;
  margin-right: 7.7rem;
}
.gedan-item-liang{
  font-size: 2rem;
  color:#a5a4a4;
  margin-bottom: 2rem;
}
